/*
 * wifi_creds.h
 *
 * Home automation WiFi access credentials.
 *
 * Copyright (c) 2017, James Watts
 * All rights reserved, no unauthorized distribution or reproduction.
 *
 * See LICENSE.txt for details.
 */

#define WIFI_AP "apname"
#define WIFI_PASS "appass"

// Optionally define static IP / routing details for faster connections,
// note the comma delimiters.

// #define WIFI_IP 192,168,1,100
// #define WIFI_GW 192,168,1,1
// #define WIFI_SN 255,255,255,0
